h1
{
  color: darkblue;
}
body
{
  background-color: lightpink;
}

#carte

{
  <div id="carte">    width: 500 px;
      margin: 0 auto;
      background-color: white;
      text-align:center;
      align-content: center;
}
h2
{
  color: darkblue;
}
br
body
{
  background-color: darkblue
}

#carte
{
  <div id="carte">    width: 500 px;
      margin: 0 auto;
      background-color: white;
      text-align:center;
      align-content: center;
}
